:root {
    --color0: #10271c;
    --color1: #646e5b;
    --color2: #3b5869;
    --color3: #516e74;
    --color4: #76816f;
    --color5: #8b9381;
    --color6: #959c8a;
    --color7: #929d98;
    --color8: #5f756b;
    --color9: #86937A;
    --color10: #4F768C;
    --color11: #6D939B;
    --color12: #9EAC95;
    --color13: #BAC5AC;
    --color14: #C7D0B8;
    --color15: #c3c9c6;
    --rgba1: rgba(100,110,91,0.4);
    --rgba2: rgba(59,88,105,0.4);
    --rgba3: rgba(134,147,122,0.4);
    --rgba4: rgba(79,118,140,0.4);
    --rgba5: rgba(186,197,172,0.4);
}

