:root {
    --color0: #1a0b13;
    --color1: #72866f;
    --color2: #879682;
    --color3: #949e8b;
    --color4: #8f9e90;
    --color5: #9da494;
    --color6: #a4aa9b;
    --color7: #998e94;
    --color8: #6f5a64;
    --color9: #99B395;
    --color10: #B5C8AE;
    --color11: #C6D3BA;
    --color12: #BFD3C0;
    --color13: #D2DBC6;
    --color14: #DBE3CF;
    --color15: #c5c2c4;
    --rgba1: rgba(114,134,111,0.4);
    --rgba2: rgba(135,150,130,0.4);
    --rgba3: rgba(153,179,149,0.4);
    --rgba4: rgba(181,200,174,0.4);
    --rgba5: rgba(210,219,198,0.4);
}

